.generator-wrapper {
    margin-top: 20px;

    h1 {
        text-align: center;
        font-size: 3rem;
        border: 3px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }

}

.palindromeTitle {
    color: red;
}

.allDigitsTitle {
    color: blue
}